/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	margin: 0;
	padding: 0;
} 
ul {
	margin: 0;
	padding: 6px;
}
#tableframe {
	min-width: 1024px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: scroll;
}
#interface_container {
	background-image: url("bgtex5.jpg");
	/*position: fixed;*/
}
#interface_container a {
	text-decoration: none;
	/*font-family: "Bebas Neue Bold";
	font-size: 1.1em;
	letter-spacing: 2px;*/
}
#interface_container a:visited {
	color: #000;
}
li.shadow {
	margin: 0;
	border-radius: 2px;
	padding: 4px 6px;
	font-size: 16px;
	display: inline;
	position: relative;
}
li.shadow:hover {
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}


/*--------~= M-E-N-U =~------------*/
/*.................................*/
#menu {
	padding-bottom: 0px;
	padding-top: 0px;
	text-shadow: 0px 1px 0px #FFF;
	border-bottom: 1px solid #999;
}
#menu ul li img {
	vertical-align: middle;
	padding-left: 4px;
}
#menu ul li a:hover {
	background-color: transparent;
}
/* не используется */
#blue a:visited {
	color: #359fe2;
}
/*-----------------*/
#menu ul li:hover ul {
	display: block;
}
/* WHY!? WHY THE HELL!? left is necessary?!?!?*/
#help {
	display: none;
	position: absolute;
	left: 0px;
	top: 26px;
	width: 125px;
}
#service {
	display: none;
	position: absolute;
	left: 0px;
	top: 26px;
	width: 315px;
}
#files {
	display: none;
	position: absolute;
	left: 0px;
	top: 26px;
	width: 135px;
}
#personal {
	display: none;
	position: absolute;
	top: 26px;
	width: 145px;
}
#menu ul ul {
	background-image: url("bgtex5.jpg");
	font-size: 15px;
	text-align: left;
	padding: 1px;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
#menu ul ul li {
	display: block;
	padding: 4px;
	padding-left: 6px;
	padding-top: 6px;
}
#menu ul ul li:hover {
	background-color: rgba(33, 160, 185, 0.35);
	/*background-color: rgba(185, 27, 30, 0.35);*/
}
#menu ul ul li a:hover {
	color: black;
}
/*--------=============-----------*/


/*------~= I-N-S-T-R-U-M-E-N-T-S =~-----*/
#instruments {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #999;
}
#instruments ul {
	padding: 0px;
	padding-left: 6px;
	margin: 0px;
}
li.button {
	display: inline-block;
	border-radius: 2px;
	padding: 1px 3px;
	padding-top: 3px;
	margin: 1px 0px;
}
li.button:hover {
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.95);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.95);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.95);
}
#instruments ul li img {
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

li.divider {
	padding: 1px 0px;
	margin: 0px;
	margin: 0px;
	display: inline-block;
}
/*-----------===========-------------*/


/*-----------~= T-A-B-S =~---------*/
#tabs {
	padding: 0px;
	margin: 0px;
}
#tabs ul {
	padding: 0px;
	margin: 0px;
	padding-left: 6px;
}
li.tab {
	display: inline-block;
	border-radius: 10px 10px 0px 0px;
	background-color: white;
	padding: 3px 8px;
	margin: 0px;
	margin-top: 5px;
}
li.tab:hover {
	-moz-box-shadow: 1px -2px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 1px -2px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 1px -2px 0px rgba(0, 0, 0, 0.25);
}
#tabs ul li a {
	padding: 0px;
	margin: 0px;
	font-size: 15px
}
#tabs ul li a:hover {
	background-color: transparent;
}