// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clients {
	
	table {
		border-collapse: collapse;
		border: 2px solid black;
	}

	th, td {
		border: 1px solid black;
		padding: 5px;
	}

	td {
		text-align: center; 
	}

	th {
		background-color: #ccc
	}

	.white_row {
		background-color: #fff
	}

	.grey_row {
		background-color: #f0f0f0
	}
}